<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_BalloonString_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,680},{94,148}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,50},{94,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>ctm_BalloonString_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,238}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,238}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>ctm_Balloon__01.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,825},{128,109}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,74},{128,109}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{236,115}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,70},{236,115}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__03.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,776},{118,115}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,63},{118,115}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__04.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,442},{158,103}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,56},{158,103}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__05.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,119},{216,157}}</string>
                <key>offset</key>
                <string>{-29,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{216,157}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{184,105}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,59},{184,105}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__07.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,433},{170,75}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,80},{170,75}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__08.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,278},{184,153}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{184,153}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{194,107}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,53},{194,107}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,278},{162,125}}</string>
                <key>offset</key>
                <string>{-32,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,64},{162,125}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{168,121}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,43},{168,121}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__12.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,547},{148,131}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,46},{148,131}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__13.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,825},{118,117}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,63},{118,117}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,621},{148,101}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,65},{148,101}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{144,95}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{144,95}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__16.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,724},{146,99}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,68},{146,99}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{232,83}}</string>
                <key>offset</key>
                <string>{26,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,92},{232,83}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{142,89}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,76},{142,89}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{154,113}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,61},{154,113}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{170,95}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,68},{170,95}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
            <key>ctm_Balloon__21.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,510},{156,109}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,65},{156,109}}</string>
                <key>sourceSize</key>
                <string>{294,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cityBallon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ca455e5cef99c6e378436d06ddd3bdf$</string>
            <key>textureFileName</key>
            <string>cityBallon.png</string>
        </dict>
    </dict>
</plist>
