<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Front_CityScape_01A.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{512,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{512,88}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ctm_Front_CityScape_01B.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{512,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{512,88}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ctm_Front_CityScape_01C.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{512,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{512,88}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ctm_Front_CityScape_02A.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{512,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{512,96}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ctm_Front_CityScape_02B.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{512,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{512,96}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ctm_Front_CityScape_02C.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{512,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{512,96}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ctm_Front_CityScape_03A.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{512,100}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{512,100}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ctm_Front_CityScape_03B.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{512,100}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{512,100}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ctm_Front_CityScape_03C.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,100}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{512,100}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CityScape.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee1bec5a1aacfc2870a6d77e2f55e0f2$</string>
            <key>textureFileName</key>
            <string>CityScape.pvr.ccz</string>
        </dict>
    </dict>
</plist>
