<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Cop_Trick3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,900},{78,136}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,8},{78,136}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,288},{142,138}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{142,138}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,112},{142,144}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,144}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{142,144}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,144}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{142,142}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,142}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,256},{142,142}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,142}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,146},{142,142}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,142}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,116},{142,142}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,142}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,286},{142,140}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{142,140}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{142,140}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{142,140}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,400},{142,140}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{142,140}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,424},{80,138}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,6},{80,138}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,290},{142,140}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{142,140}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,260},{142,140}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{142,140}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,146},{142,140}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{142,140}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,144},{142,140}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{142,140}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{142,140}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{142,140}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{142,142}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,142}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,432},{138,142}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{138,142}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,402},{138,142}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{138,142}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{134,144}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,542},{126,142}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{126,142}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,142},{94,142}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,2},{94,142}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{122,138}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{122,138}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{114,142}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{114,142}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{112,144}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{112,144}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{106,138}}</string>
                <key>offset</key>
                <string>{28,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,6},{106,138}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,286},{86,136}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,8},{86,136}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,670},{78,136}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,8},{78,136}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,760},{110,138}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{110,138}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{122,132}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{122,132}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,750},{136,126}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{136,126}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{148,118}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{148,118}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{154,108}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{154,108}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>ctm_Cop_Trick3-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,98}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{176,98}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Cop_Trick3.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e4f60c788e8c19cc5b4b9e81d9b5a51$</string>
            <key>textureFileName</key>
            <string>ctm_Cop_Trick3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
