<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Sock_Trick2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{78,138}}</string>
                <key>offset</key>
                <string>{-28,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{78,138}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,126},{120,114}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{120,114}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,796},{122,114}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{122,114}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,672},{122,114}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{122,114}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,548},{122,114}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{122,114}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,268},{120,114}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{120,114}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{122,114}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{122,114}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,144},{122,114}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{122,114}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,284},{122,114}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{122,114}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,424},{122,114}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{122,114}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,408},{120,114}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{120,114}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{80,136}}</string>
                <key>offset</key>
                <string>{-25,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{80,136}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,530},{116,116}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,390},{114,116}}</string>
                <key>offset</key>
                <string>{10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,120},{106,114}}</string>
                <key>offset</key>
                <string>{14,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{106,114}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,920},{90,116}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{90,116}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,248},{84,116}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{84,116}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{84,120}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{84,120}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,842},{82,130}}</string>
                <key>offset</key>
                <string>{-19,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,32},{82,130}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{80,138}}</string>
                <key>offset</key>
                <string>{-24,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{80,138}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{78,138}}</string>
                <key>offset</key>
                <string>{-28,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{78,138}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{82,138}}</string>
                <key>offset</key>
                <string>{-21,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,32},{82,138}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,140}}</string>
                <key>offset</key>
                <string>{-18,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,32},{84,140}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{84,136}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{84,136}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,648},{84,114}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{84,114}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,920},{96,106}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{96,106}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{104,114}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{104,114}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>ctm_Sock_Trick2-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{116,116}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Sock_Trick2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30f017052774d4b457fa69752e2b1980$</string>
            <key>textureFileName</key>
            <string>ctm_Sock_Trick2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
