<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Cop_Trick2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{77,134}}</string>
                <key>offset</key>
                <string>{-28,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{77,134}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{115,120}}</string>
                <key>offset</key>
                <string>{7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,502},{117,118}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{117,118}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,382},{117,118}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{117,118}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{117,118}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{117,118}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,124},{117,118}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{117,118}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,262},{117,118}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{117,118}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,798},{117,120}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{117,120}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,676},{117,120}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{117,120}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,140},{115,120}}</string>
                <key>offset</key>
                <string>{7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,622},{115,118}}</string>
                <key>offset</key>
                <string>{7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{115,118}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{81,134}}</string>
                <key>offset</key>
                <string>{-25,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,38},{81,134}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,244},{111,118}}</string>
                <key>offset</key>
                <string>{7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{111,118}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,862},{111,118}}</string>
                <key>offset</key>
                <string>{11,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{111,118}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,364},{105,116}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,1},{105,116}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,920},{89,114}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{89,114}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,244},{83,112}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{83,112}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,364},{85,114}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{85,114}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,548},{85,126}}</string>
                <key>offset</key>
                <string>{-18,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,38},{85,126}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{81,134}}</string>
                <key>offset</key>
                <string>{-24,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{81,134}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{77,134}}</string>
                <key>offset</key>
                <string>{-28,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{77,134}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{81,134}}</string>
                <key>offset</key>
                <string>{-21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,38},{81,134}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,136}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,38},{83,136}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{85,132}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{85,132}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,122},{85,110}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{85,110}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,920},{97,104}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{97,104}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,482},{103,116}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{103,116}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>ctm_Cop_Trick2-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,742},{111,118}}</string>
                <key>offset</key>
                <string>{7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{111,118}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Cop_Trick2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9853e8f7a850cdd64d9d1853b3f93398$</string>
            <key>textureFileName</key>
            <string>ctm_Cop_Trick2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
