<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Elvis_Trick5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,483},{78,143}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,39},{78,143}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,316},{184,153}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{184,153}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,467},{184,153}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,467},{184,153}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,314},{184,153}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,161},{184,153}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{184,153}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,312},{184,153}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,312},{184,153}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,157},{184,153}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,868},{76,149}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,33},{76,149}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,159},{184,153}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,157},{184,153}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{184,153}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{184,153}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,157}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,469},{174,157}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{174,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,471},{156,153}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{156,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,626},{134,155}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{134,155}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{88,165}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,34},{88,165}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,326},{78,155}}</string>
                <key>offset</key>
                <string>{16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,39},{78,155}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,169},{84,155}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,27},{84,155}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,762},{78,141}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,41},{78,141}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{98,155}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,27},{98,155}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{130,153}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,27},{130,153}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{150,139}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,28},{150,139}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{166,163}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{166,163}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,157}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Elvis_Trick5-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{184,155}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,155}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Elvis_Trick5.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23822fb920be815dc5b4f684c4a72f4f$</string>
            <key>textureFileName</key>
            <string>ctm_Elvis_Trick5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
