<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Barb_Trick3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,145},{87,145}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,4},{87,145}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,554},{141,139}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{141,139}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{141,145}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{141,145}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,129},{141,143}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{141,143}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,208},{141,143}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{141,143}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,127},{141,143}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{141,143}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,494},{141,141}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{141,141}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,377},{141,141}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{141,141}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{141,141}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{141,141}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,510},{141,141}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{141,141}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,413},{141,141}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{141,141}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{95,149}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{95,149}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,411},{141,141}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{141,141}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,351},{141,141}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{141,141}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,234},{141,141}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{141,141}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{141,141}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{141,141}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,556},{139,141}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{139,141}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,272},{139,143}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{139,143}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,270},{139,143}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{139,143}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{139,143}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{139,143}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,244},{139,143}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{139,143}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,653},{137,141}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{137,141}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,101},{105,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{105,145}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,508},{131,137}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{131,137}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,385},{123,143}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{123,143}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{123,147}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,2},{123,147}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,119},{123,149}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{123,149}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{97,147}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,2},{97,147}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{85,145}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,4},{85,145}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{119,137}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{119,137}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,377},{129,133}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{129,133}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{149,125}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{149,125}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{157,115}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{157,115}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{157,105}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{157,105}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
            <key>ctm_Barb_Trick3-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,97}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,52},{177,97}}</string>
                <key>sourceSize</key>
                <string>{179,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Barb_Trick3.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:104c953cee154d5c93e63853b6b74c03$</string>
            <key>textureFileName</key>
            <string>ctm_Barb_Trick3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
