<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Default_Trick8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,624},{79,134}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,17},{79,134}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,478},{211,72}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{211,72}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,332},{221,72}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{221,72}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,164},{225,78}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{225,78}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,84},{225,78}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{225,78}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,248},{223,80}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{223,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,326},{221,80}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{221,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{221,80}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{221,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,330},{221,80}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{221,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{219,80}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{219,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{219,80}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{219,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,552},{85,130}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,21},{85,130}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,250},{221,80}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{221,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,244},{221,80}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{221,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,168},{223,80}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{223,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,84},{225,82}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{225,82}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{225,82}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{225,82}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{225,80}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{225,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,82}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{227,82}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,84},{227,80}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{227,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{227,80}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{227,80}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,684},{95,120}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,31},{95,120}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{227,80}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,166},{225,80}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{225,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{221,80}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{221,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,408},{217,80}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{217,80}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,406},{221,70}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{221,70}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,412},{219,90}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{219,90}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,504},{199,118}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{199,118}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,490},{161,144}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,7},{161,144}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,581},{127,146}}</string>
                <key>offset</key>
                <string>{25,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,2},{127,146}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-39.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,637},{105,128}}</string>
                <key>offset</key>
                <string>{25,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,2},{105,128}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{103,110}}</string>
                <key>offset</key>
                <string>{25,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,41},{103,110}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-40.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,484},{95,130}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,7},{95,130}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-41.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,552},{83,138}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,14},{83,138}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-42.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,636},{79,136}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,16},{79,136}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,624},{77,134}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,17},{77,134}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,225},{107,106}}</string>
                <key>offset</key>
                <string>{26,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,45},{107,106}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,114},{109,108}}</string>
                <key>offset</key>
                <string>{26,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,43},{109,108}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,744},{113,116}}</string>
                <key>offset</key>
                <string>{25,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,38},{113,116}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,333},{149,120}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,34},{149,120}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>ctm_Default_Trick8-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{193,88}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{193,88}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Default_Trick8.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a23e314b3bb8fa750e498265c15f026f$</string>
            <key>textureFileName</key>
            <string>ctm_Default_Trick8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
