<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Default_Trick7-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,763},{79,135}}</string>
                <key>offset</key>
                <string>{-37,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,39},{79,135}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,157}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{177,157}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,799},{167,167}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{167,167}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,465},{163,169}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,5},{163,169}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{157,169}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,5},{157,169}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,465},{157,169}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{157,169}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{157,169}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{157,169}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,483},{157,169}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{157,169}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{157,171}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,3},{157,171}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,324},{157,171}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,3},{157,171}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,338},{157,171}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,3},{157,171}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,91},{81,135}}</string>
                <key>offset</key>
                <string>{-31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,39},{81,135}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,306},{157,171}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,3},{157,171}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{157,173}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,1},{157,173}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,165},{157,173}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,1},{157,173}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{157,175}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{157,175}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{157,175}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{157,175}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{159,175}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{159,175}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,161},{163,173}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,1},{163,173}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{165,173}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,1},{165,173}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,169},{167,171}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{167,171}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{175,161}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{175,161}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{87,135}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,39},{87,135}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,161},{173,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,31},{173,143}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,795},{157,147}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{157,147}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,630},{131,147}}</string>
                <key>offset</key>
                <string>{-32,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{131,147}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,779},{103,145}}</string>
                <key>offset</key>
                <string>{-28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{103,145}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,642},{83,153}}</string>
                <key>offset</key>
                <string>{-29,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{83,153}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,174},{79,141}}</string>
                <key>offset</key>
                <string>{-35,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,39},{79,141}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,497},{77,133}}</string>
                <key>offset</key>
                <string>{-37,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,41},{77,133}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,759},{77,133}}</string>
                <key>offset</key>
                <string>{-37,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{77,133}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,900},{77,133}}</string>
                <key>offset</key>
                <string>{-37,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,41},{77,133}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-39.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,624},{77,133}}</string>
                <key>offset</key>
                <string>{-37,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{77,133}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,926},{95,137}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,37},{95,137}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,624},{99,137}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{99,137}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,255},{105,139}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,37},{105,139}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,362},{133,143}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,37},{133,143}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,642},{151,137}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,37},{151,137}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>ctm_Default_Trick7-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,326},{171,137}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{171,137}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Default_Trick7.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95ddb87254d873b3201b6c48f2661320$</string>
            <key>textureFileName</key>
            <string>ctm_Default_Trick7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
