<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Blue_LowerFire_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{64,35}}</string>
                <key>offset</key>
                <string>{34,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,4},{64,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Blue_LowerFire_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,235},{58,33}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,6},{58,33}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Blue_LowerFire_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,158},{62,39}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Blue_LowerFire_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,160},{62,39}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Blue_LowerFire_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,238},{38,35}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,4},{38,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Blue_LowerFire_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,238},{38,35}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,4},{38,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Blue_LowerFire_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,199},{62,37}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,2},{62,37}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Blue_LowerFire_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,119},{64,37}}</string>
                <key>offset</key>
                <string>{34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,2},{64,37}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Blue_LowerFire_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,39},{68,37}}</string>
                <key>offset</key>
                <string>{35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,2},{68,37}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Blue_LowerFire_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{74,35}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,4},{74,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Blue_LowerFire_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,78},{64,39}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Default_LowerFire_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,144},{64,35}}</string>
                <key>offset</key>
                <string>{34,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,4},{64,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Default_LowerFire_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,220},{58,33}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,6},{58,33}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Default_LowerFire_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{62,39}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Default_LowerFire_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,160},{62,39}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Default_LowerFire_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,236},{38,35}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,4},{38,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Default_LowerFire_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,201},{38,35}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,4},{38,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Default_LowerFire_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,197},{62,37}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,2},{62,37}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Default_LowerFire_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,82},{64,37}}</string>
                <key>offset</key>
                <string>{34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,2},{64,37}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Default_LowerFire_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,39},{68,37}}</string>
                <key>offset</key>
                <string>{35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,2},{68,37}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Default_LowerFire_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{74,35}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,4},{74,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Default_LowerFire_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,78},{64,39}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Green_LowerFire_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,121},{64,35}}</string>
                <key>offset</key>
                <string>{34,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,4},{64,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Green_LowerFire_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,72},{58,33}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,6},{58,33}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Green_LowerFire_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,156},{62,39}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Green_LowerFire_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,119},{62,39}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Green_LowerFire_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,201},{38,35}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,4},{38,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Green_LowerFire_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,201},{38,35}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,4},{38,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Green_LowerFire_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,181},{62,37}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,2},{62,37}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Green_LowerFire_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,117},{64,37}}</string>
                <key>offset</key>
                <string>{34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,2},{64,37}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Green_LowerFire_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,39},{68,37}}</string>
                <key>offset</key>
                <string>{35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,2},{68,37}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Green_LowerFire_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,35}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,4},{74,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Green_LowerFire_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{64,39}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Purple_LowerFire_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,107},{64,35}}</string>
                <key>offset</key>
                <string>{34,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,4},{64,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Purple_LowerFire_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,37},{58,33}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,6},{58,33}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Purple_LowerFire_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{62,39}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Purple_LowerFire_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,119},{62,39}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Purple_LowerFire_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,270},{38,35}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,4},{38,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Purple_LowerFire_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,255},{38,35}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,4},{38,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Purple_LowerFire_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,158},{62,37}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,2},{62,37}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Purple_LowerFire_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,80},{64,37}}</string>
                <key>offset</key>
                <string>{34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,2},{64,37}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Purple_LowerFire_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{68,37}}</string>
                <key>offset</key>
                <string>{35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,2},{68,37}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Purple_LowerFire_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,35}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,4},{74,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>Purple_LowerFire_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,41},{64,39}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>ctm_LowerFire_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,41},{64,35}}</string>
                <key>offset</key>
                <string>{34,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,4},{64,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>ctm_LowerFire_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{58,33}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,6},{58,33}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>ctm_LowerFire_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,171},{62,39}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>ctm_LowerFire_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,107},{62,39}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>ctm_LowerFire_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,255},{38,35}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,4},{38,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>ctm_LowerFire_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,236},{38,35}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,4},{38,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>ctm_LowerFire_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,197},{62,37}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,2},{62,37}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>ctm_LowerFire_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,78},{64,37}}</string>
                <key>offset</key>
                <string>{34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,2},{64,37}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>ctm_LowerFire_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{68,37}}</string>
                <key>offset</key>
                <string>{35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,2},{68,37}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>ctm_LowerFire_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,35}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,4},{74,35}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>ctm_LowerFire_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,39},{64,39}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_LowerFire.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce3a895c0f62ae4ebe9ecb98fd0c5ad1$</string>
            <key>textureFileName</key>
            <string>ctm_LowerFire.pvr.ccz</string>
        </dict>
    </dict>
</plist>
