<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Cop_Trick5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,445},{78,135}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,46},{78,135}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{184,157}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{184,157}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,320},{184,157}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,320},{184,157}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{184,157}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,322},{184,157}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,320},{184,157}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,161},{184,157}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,161},{184,157}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{184,157}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,481},{76,137}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,44},{76,137}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,163},{184,157}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,161},{184,157}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{184,157}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{184,157}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{184,157}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,582},{174,155}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{174,155}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,582},{156,143}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,33},{156,143}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,740},{134,141}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,41},{134,141}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{86,157}}</string>
                <key>offset</key>
                <string>{19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,42},{86,157}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,483},{76,147}}</string>
                <key>offset</key>
                <string>{16,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,46},{76,147}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,161},{82,145}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,36},{82,145}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,308},{78,135}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,46},{78,135}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{94,149}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,32},{94,149}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,740},{126,149}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{126,149}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,883},{140,139}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{140,139}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,758},{162,163}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{162,163}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,161}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,161}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
            <key>ctm_Cop_Trick5-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,159}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,159}}</string>
                <key>sourceSize</key>
                <string>{184,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Cop_Trick5.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d508ca375f7b35b32011225c41728eff$</string>
            <key>textureFileName</key>
            <string>ctm_Cop_Trick5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
