<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Elvis_Trick8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,611},{79,143}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,15},{79,143}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,804},{211,83}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,21},{211,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,591},{221,77}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{221,77}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,87},{225,81}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{225,81}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,348},{225,81}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{225,81}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,170},{223,81}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{223,81}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,528},{221,81}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{221,81}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,423},{221,83}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{221,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,508},{221,81}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{221,81}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,445},{221,81}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{221,81}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,557},{219,83}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{219,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,568},{85,137}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,21},{85,137}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,360},{221,83}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{221,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,338},{221,83}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{221,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,87},{223,83}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{223,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,577},{225,83}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{225,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,577},{225,83}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{225,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{225,85}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{225,85}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{227,83}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{227,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{227,83}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{227,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{227,83}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{227,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{227,83}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{227,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,87},{97,127}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,31},{97,127}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,83}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{227,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,121},{225,83}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{225,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,275},{221,83}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{221,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{217,81}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{217,81}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,253},{221,83}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{221,83}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,172},{221,101}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{221,101}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,804},{201,129}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{201,129}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,87},{161,155}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,2},{161,155}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,244},{129,155}}</string>
                <key>offset</key>
                <string>{24,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,0},{129,155}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-39.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,121},{105,137}}</string>
                <key>offset</key>
                <string>{25,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{105,137}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{103,117}}</string>
                <key>offset</key>
                <string>{25,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,41},{103,117}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-40.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,416},{95,139}}</string>
                <key>offset</key>
                <string>{18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,5},{95,139}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-41.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,508},{85,145}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,14},{85,145}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-42.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,595},{81,143}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,16},{81,143}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,707},{79,143}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,15},{79,143}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,260},{109,115}}</string>
                <key>offset</key>
                <string>{26,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,43},{109,115}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,303},{111,117}}</string>
                <key>offset</key>
                <string>{25,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,41},{111,117}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,186},{115,125}}</string>
                <key>offset</key>
                <string>{23,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,36},{115,125}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,375},{149,131}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,30},{149,131}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
            <key>ctm_Elvis_Trick8-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,371},{195,99}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{195,99}}</string>
                <key>sourceSize</key>
                <string>{227,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Elvis_Trick8.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35f88204d41abbd23c835da172245b28$</string>
            <key>textureFileName</key>
            <string>ctm_Elvis_Trick8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
