<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CTM_Circular_Loop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,112}}</string>
                <key>offset</key>
                <string>{-4,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,181},{242,112}}</string>
                <key>sourceSize</key>
                <string>{304,304}</string>
            </dict>
            <key>ctm_Default_Exhaust.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,66},{34,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,22}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_DirtBike_Exhaust.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,66},{34,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,22}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_Island_Exhaust.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,90},{24,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{24,20}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_Loop 1A.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,96},{180,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{180,120}}</string>
                <key>sourceSize</key>
                <string>{184,124}</string>
            </dict>
            <key>ctm_Loop 1B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{106,150}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{106,150}}</string>
                <key>sourceSize</key>
                <string>{120,156}</string>
            </dict>
            <key>ctm_Loop 2A.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{208,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{208,92}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>ctm_Loop 2B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{132,158}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{132,158}}</string>
                <key>sourceSize</key>
                <string>{152,168}</string>
            </dict>
            <key>ctm_Loop Stright_Section.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,116},{142,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{142,28}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>ctm_McAcme_Exhaust.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,90},{32,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{32,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_Pizza_Exhaust.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,36},{34,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{34,28}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_Police_Exhaust.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{32,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{32,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_VFX.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:877f061de13d01656744f0ff79f88dc0$</string>
            <key>textureFileName</key>
            <string>ctm_VFX.png</string>
        </dict>
    </dict>
</plist>
