<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Sock_Trick4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,2},{79,137}}</string>
                <key>offset</key>
                <string>{22,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,113},{79,137}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,418},{89,203}}</string>
                <key>offset</key>
                <string>{22,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,9},{89,203}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,637},{87,207}}</string>
                <key>offset</key>
                <string>{24,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,5},{87,207}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,426},{85,209}}</string>
                <key>offset</key>
                <string>{25,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,3},{85,209}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{85,213}}</string>
                <key>offset</key>
                <string>{25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{85,213}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{85,213}}</string>
                <key>offset</key>
                <string>{25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{85,213}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,213}}</string>
                <key>offset</key>
                <string>{25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{85,213}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,647},{83,213}}</string>
                <key>offset</key>
                <string>{25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{83,213}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{83,213}}</string>
                <key>offset</key>
                <string>{25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{83,213}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{85,211}}</string>
                <key>offset</key>
                <string>{23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,1},{85,211}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,215},{85,209}}</string>
                <key>offset</key>
                <string>{23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,3},{85,209}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,135},{91,133}}</string>
                <key>offset</key>
                <string>{35,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,117},{91,133}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{85,207}}</string>
                <key>offset</key>
                <string>{22,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,5},{85,207}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,211},{87,205}}</string>
                <key>offset</key>
                <string>{21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,7},{87,205}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,207},{89,201}}</string>
                <key>offset</key>
                <string>{19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,11},{89,201}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{93,199}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,13},{93,199}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,207},{93,199}}</string>
                <key>offset</key>
                <string>{16,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,13},{93,199}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,410},{95,199}}</string>
                <key>offset</key>
                <string>{16,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,13},{95,199}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{101,203}}</string>
                <key>offset</key>
                <string>{12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,9},{101,203}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,826},{131,195}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,17},{131,195}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,846},{169,145}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,67},{169,145}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{183,81}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,131},{183,81}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,228},{105,123}}</string>
                <key>offset</key>
                <string>{44,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,127},{105,123}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{167,105}}</string>
                <key>offset</key>
                <string>{15,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,133},{167,105}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{143,131}}</string>
                <key>offset</key>
                <string>{28,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,125},{143,131}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,796},{111,145}}</string>
                <key>offset</key>
                <string>{36,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,118},{111,145}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{89,145}}</string>
                <key>offset</key>
                <string>{35,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,114},{89,145}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,93},{81,141}}</string>
                <key>offset</key>
                <string>{27,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,112},{81,141}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,943},{79,137}}</string>
                <key>offset</key>
                <string>{22,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,113},{79,137}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,176},{131,117}}</string>
                <key>offset</key>
                <string>{35,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,138},{131,117}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,203},{183,119}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,121},{183,119}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,611},{183,141}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,59},{183,141}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{153,175}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,32},{153,175}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,408},{127,183}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,18},{127,183}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
            <key>ctm_Sock_Trick4-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,623},{87,201}}</string>
                <key>offset</key>
                <string>{22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,11},{87,201}}</string>
                <key>sourceSize</key>
                <string>{201,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Sock_Trick4.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eed1afc699ba97f5b553ecf600328d6$</string>
            <key>textureFileName</key>
            <string>ctm_Sock_Trick4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
