<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Elvis_Trick7-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,750},{80,141}}</string>
                <key>offset</key>
                <string>{-37,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,33},{80,141}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,157}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{178,157}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,330},{168,169}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,5},{168,169}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,473},{164,169}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,5},{164,169}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,500},{160,169}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,5},{160,169}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{158,169}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{158,169}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,636},{158,169}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{158,169}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,486},{158,169}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{158,169}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{158,171}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,3},{158,171}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,476},{158,171}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,3},{158,171}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,326},{158,171}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,3},{158,171}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,725},{80,143}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{80,143}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,313},{158,171}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,3},{158,171}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,166},{158,173}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,1},{158,173}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{158,175}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{158,175}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{158,175}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{158,175}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,165},{158,175}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{158,175}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{162,175}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{162,175}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{164,175}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{164,175}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,162},{166,173}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,1},{166,173}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{168,171}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{168,171}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{176,161}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{176,161}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,662},{86,143}}</string>
                <key>offset</key>
                <string>{-23,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{86,143}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,162},{174,149}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{174,149}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,646},{158,151}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{158,151}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,308},{134,155}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{134,155}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,153},{104,153}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{104,153}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,639},{84,161}}</string>
                <key>offset</key>
                <string>{-29,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{84,161}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{80,149}}</string>
                <key>offset</key>
                <string>{-34,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,31},{80,149}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,701},{80,141}}</string>
                <key>offset</key>
                <string>{-37,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,33},{80,141}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,881},{80,141}}</string>
                <key>offset</key>
                <string>{-37,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,33},{80,141}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,881},{80,141}}</string>
                <key>offset</key>
                <string>{-37,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,33},{80,141}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-39.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,799},{80,141}}</string>
                <key>offset</key>
                <string>{-37,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,33},{80,141}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{94,145}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,29},{94,145}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,465},{100,147}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,27},{100,147}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{106,149}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{106,149}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,567},{132,153}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{132,153}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,796},{150,149}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{150,149}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Elvis_Trick7-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,325},{172,149}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{172,149}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Elvis_Trick7.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8f5e9a44515635f8f0669c6e6320b23$</string>
            <key>textureFileName</key>
            <string>ctm_Elvis_Trick7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
