<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_PeanutGraphic_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,48},{172,44}}</string>
                <key>offset</key>
                <string>{-44,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{172,44}}</string>
                <key>sourceSize</key>
                <string>{312,56}</string>
            </dict>
            <key>ctm_PeanutGraphic_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{180,44}}</string>
                <key>offset</key>
                <string>{-41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{180,44}}</string>
                <key>sourceSize</key>
                <string>{312,56}</string>
            </dict>
            <key>ctm_PeanutGraphic_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,44}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{236,44}}</string>
                <key>sourceSize</key>
                <string>{312,56}</string>
            </dict>
            <key>ctm_PeanutGraphic_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{254,42}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{254,42}}</string>
                <key>sourceSize</key>
                <string>{312,56}</string>
            </dict>
            <key>ctm_UI_ObjectivesGreenLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{12,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{12,34}}</string>
                <key>sourceSize</key>
                <string>{32,56}</string>
            </dict>
            <key>ctm_icon_01_SCi_fi_Bike.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,382},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_02_PoliceBike.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,382},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_03_PizzaBike.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,456},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_04_ElectricBike.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,414},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_05_TikiBike.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,456},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_06_CompanyBike.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,414},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_07_Dirt_Bike.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,456},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_08_Old_Yeller_Bike.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,414},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_30_Blue_Armidillios.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,342},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Character_20_Jack_Chimp.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,342},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Character_20_Police_Chimp.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,374},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Character_21_Barb_Chimp.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,374},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Character_21_Orange_chimp.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,342},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Character_22_Sock_Chimp.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,302},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Character_23_King_Chimp.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,302},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Character_24_Police_Chimp.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,334},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Objectives_40_Sparta.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,334},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Objectives_41_Jump-the-Shark.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,302},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Objectives_42_Hot-Coffee.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,262},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Objectives_43_Mega-Flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,262},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Objectives_44_Beat-up-the-Beat.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,294},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Objectives_45_Road-Kill.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,294},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Objectives_46_Tripple-Lindy.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,262},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Objectives_47_Mission-accomplished.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,254},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Objectives_48_Minus-WOrld.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,254},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Objectives_49_Nut-Envy.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,222},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Objectives_50_In-soviet-Russia.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,222},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Objectives_51_Flaming-Trick-of-Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,214},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Objectives_52_Thats-no-Moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,214},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Objectives_53_Meh.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,174},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Store_10_loop-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,174},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Store_11_Loops.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,134},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Store_12_Turbo-Strips.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,134},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Store_13_Riders-Block.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,94},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Store_14_Remove-1-sec.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,94},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Store_15_Better-Tricks.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,178},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Store_16_Slow-Clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,136},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Store_17_2X-peanuts.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,94},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Store_18_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Store_Fire_Pickup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ctm_icon_Store_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Icons.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7847cb3c64bf6e6415fdecbde7795034$</string>
            <key>textureFileName</key>
            <string>ctm_Icons.pvr.ccz</string>
        </dict>
    </dict>
</plist>
