<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctmBarb_BottomCalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,116},{14,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{14,40}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmBarb_BottomFoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,132},{46,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{46,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmBarb_BottomHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,46},{22,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ctmBarb_BottomLoarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{16,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{16,52}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmBarb_BottomThigh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{18,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{18,50}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmBarb_BottomUparm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{20,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{20,46}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmBarb_Chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{34,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{34,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmBarb_Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>ctmBarb_Neck.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{24,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ctmBarb_Pelvis.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,90},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{28,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmBarb_TopCalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,100},{14,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{14,40}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmBarb_TopFoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,120},{46,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{46,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmBarb_TopHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,68},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{20,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ctmBarb_TopLoarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{16,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{16,50}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmBarb_TopThigh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{18,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{18,50}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmBarb_TopUparm.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,158},{20,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{20,46}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmBarb_Torso.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,70},{28,36}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{28,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CTMBarb-hd.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:021a2c4392d4c0c39f98364c14b0a432$</string>
            <key>textureFileName</key>
            <string>CTMBarb-hd.png</string>
        </dict>
    </dict>
</plist>
