<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctmDefault_BottomCalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,98},{14,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{14,40}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmDefault_BottomFoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{46,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{46,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmDefault_BottomHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,136},{20,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ctmDefault_BottomLoarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,20},{16,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{16,52}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmDefault_BottomThigh.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,60},{20,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{20,48}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmDefault_BottomUparm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{20,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{20,48}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmDefault_Chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{36,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{36,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmDefault_Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmDefault_Neck.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,138},{26,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ctmDefault_Pelvis.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,158},{28,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{28,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmDefault_TopCalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,56},{14,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{14,40}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmDefault_TopFoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,82},{46,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{46,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmDefault_TopHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,104},{20,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ctmDefault_TopLoarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{16,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{16,52}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmDefault_TopThigh.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,38},{20,50}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{20,50}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmDefault_TopUparm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{20,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{20,48}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmDefault_Torso.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,104},{30,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{30,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CTMDefault-hd.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:459fc93c626c47919498487111c6d8ee$</string>
            <key>textureFileName</key>
            <string>CTMDefault-hd.png</string>
        </dict>
    </dict>
</plist>
