<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctmSock_BottomCalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,126},{14,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{14,40}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmSock_BottomFoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,80},{46,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{46,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmSock_BottomHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,142},{20,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ctmSock_BottomLoarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,20},{16,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{16,52}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmSock_BottomThigh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{18,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{18,48}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmSock_BottomUparm.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,38},{20,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{20,48}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmSock_Chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{34,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmSock_Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmSock_Neck.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{24,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ctmSock_Pelvis.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,104},{28,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{28,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmSock_TopCalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,62},{14,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{14,40}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmSock_TopFoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{46,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{46,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmSock_TopHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ctmSock_TopLoarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{16,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{16,52}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmSock_TopThigh.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,60},{18,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{18,48}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmSock_TopUparm.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,104},{20,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{20,46}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmSock_Torso.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,134},{30,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{30,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CTMSock-hd.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f62e76fcad2730c02e0b1c416d4a881b$</string>
            <key>textureFileName</key>
            <string>CTMSock-hd.png</string>
        </dict>
    </dict>
</plist>
