<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Blank sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,980},{202,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{202,84}}</string>
                <key>sourceSize</key>
                <string>{208,96}</string>
            </dict>
            <key>BoredRoom_Props_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1376},{102,60}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{102,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>BoredRoom_Props_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{74,100}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{74,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>BoredRoom_Props_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,980},{124,68}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,37},{124,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>BoredRoom_Props_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,952},{94,128}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{94,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>BoredRoom_Props_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1366},{110,64}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{110,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>BoredRoom_Props_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1092},{114,126}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{114,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>BoredRoom_Props_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1106},{126,82}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{126,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>BoredRoom_Props_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,734},{70,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{70,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>BoredRoom_Props_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1348},{86,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{86,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>BoredRoom_Props_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1402},{116,74}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{116,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>BoredRoom_Props_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1318},{128,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>BoredRoom_Props_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1376},{60,78}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,18},{60,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Geoff_Tooth.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,568},{18,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Header Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,378},{188,20}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{188,20}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>ctm_BoredRoom_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,324},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ctm_Geoff_ThoughtBubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1432},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{74,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ctm_John_ThoughtBubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1384},{82,72}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{82,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ctm_Zoo_Cage_BG_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ctm_Zoo_Cage_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ctm_Zoo_Cage_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ctm_Zoo_Cage_Bowl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,252},{124,38}}</string>
                <key>offset</key>
                <string>{107,-141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,282},{124,38}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ctm_Zoo_Cage_Bowl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,126},{124,38}}</string>
                <key>offset</key>
                <string>{107,-141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,282},{124,38}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ctm_Zoo_Cage_Bowl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{122,44}}</string>
                <key>offset</key>
                <string>{107,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,276},{122,44}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ctm_Zoo_Cage_Sign_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1302},{150,62}}</string>
                <key>offset</key>
                <string>{155,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,21},{150,62}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ctm_Zoo_Cage_Sign_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1238},{150,62}}</string>
                <key>offset</key>
                <string>{155,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,21},{150,62}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ctm_Zoo_Cage_Sign_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{150,62}}</string>
                <key>offset</key>
                <string>{155,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,21},{150,62}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ctm_Zoo_GeoffHead_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1110},{126,180}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{126,180}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>ctm_Zoo_GeoffHead_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1066},{102,186}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{102,186}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>ctm_Zoo_GeoffHead_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1220},{116,180}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{116,180}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>ctm_Zoo_GeoffHead_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{102,176}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{102,176}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>ctm_Zoo_GeoffHead_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1170},{106,180}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,27},{106,180}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>ctm_Zoo_GeoffHead_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{104,180}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,23},{104,180}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>ctm_Zoo_GeoffHead_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1278},{104,180}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{104,180}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>ctm_Zoo_Geoff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{148,270}}</string>
                <key>offset</key>
                <string>{23,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,110},{148,270}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>ctm_Zoo_Geoff_01_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,826},{152,274}}</string>
                <key>offset</key>
                <string>{22,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,106},{152,274}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>ctm_Zoo_Geoff_01_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,794},{156,276}}</string>
                <key>offset</key>
                <string>{20,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,104},{156,276}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>ctm_Zoo_Geoff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,952},{156,262}}</string>
                <key>offset</key>
                <string>{27,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,118},{156,262}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>ctm_Zoo_Geoff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,646},{178,282}}</string>
                <key>offset</key>
                <string>{18,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,98},{178,282}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>ctm_Zoo_Geoff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{156,320}}</string>
                <key>offset</key>
                <string>{-22,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,60},{156,320}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>ctm_Zoo_Geoff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,646},{146,320}}</string>
                <key>offset</key>
                <string>{-28,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,60},{146,320}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>ctm_Zoo_Geoff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1166},{96,150}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,230},{96,150}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>ctm_Zoo_JohnArm_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1082},{94,82}}</string>
                <key>offset</key>
                <string>{68,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,170},{94,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_Zoo_JohnArm_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1234},{112,86}}</string>
                <key>offset</key>
                <string>{72,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,163},{112,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_Zoo_JohnArm_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,806},{116,86}}</string>
                <key>offset</key>
                <string>{70,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,163},{116,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_Zoo_JohnArm_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1110},{126,120}}</string>
                <key>offset</key>
                <string>{33,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,136},{126,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_Zoo_JohnArm_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1238},{156,136}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,85},{156,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_Zoo_JohnArm_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,924},{166,112}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,59},{166,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_Zoo_John_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{174,226}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,28},{174,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_Zoo_John_EyesClosed.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,794},{78,30}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,116},{78,30}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_Zoo_John_EyesHalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,646},{78,30}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,116},{78,30}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_Zoo_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,378},{354,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,2},{354,30}}</string>
                <key>sourceSize</key>
                <string>{512,32}</string>
            </dict>
            <key>ctm_fly_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,126},{24,12}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,12}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>ctm_fly_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{8,8}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JohnGeoff.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12d4d3f1a21c95b57e346c8bf74d1165$</string>
            <key>textureFileName</key>
            <string>JohnGeoff.pvr.ccz</string>
        </dict>
    </dict>
</plist>
