<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_CNN_TitleCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ctm_CNN_TitleCard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ctm_News_AnchorHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,938},{98,114}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{98,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ctm_News_Anchor_mth01.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,329},{54,44}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,67},{54,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ctm_News_Anchor_mth02.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,557},{58,44}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{58,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ctm_News_Anchor_mth03.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,375},{52,50}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,65},{52,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ctm_News_Anchor_mth04.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,231},{54,48}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,65},{54,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ctm_News_Anchor_mth05.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,281},{54,46}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,66},{54,46}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ctm_News_Background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ctm_News_Desk_item_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1127},{83,110}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{83,110}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ctm_News_Desk_item_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1165},{39,106}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{39,106}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ctm_News_Desk_item_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,701},{69,68}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,46},{69,68}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ctm_News_Desk_item_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,157},{55,72}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,39},{55,72}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ctm_News_Desk_item_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,427},{41,94}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{41,94}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ctm_News_Desk_item_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1165},{57,68}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,45},{57,68}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ctm_News_Desk_item_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1538},{35,48}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,65},{35,48}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ctm_News_Desk_item_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1588},{35,44}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,69},{35,44}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ctm_News_Desk_item_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,523},{61,32}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,79},{61,32}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ctm_News_Desk_item_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1151},{41,40}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,72},{41,40}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ctm_News_Desk_item_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1109},{41,40}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,72},{41,40}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ctm_News_Desk_item_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1067},{41,40}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,72},{41,40}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ctm_News_Desk_item_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1085},{41,40}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,72},{41,40}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ctm_News_Desk_item_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1043},{41,40}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,72},{41,40}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ctm_News_Desk_item_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1001},{41,40}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,72},{41,40}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ctm_News_Desktop.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,450},{480,56}}</string>
                <key>offset</key>
                <string>{0,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,264},{480,56}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ctm_News_Disco_Anchor.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,901},{170,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,98}}</string>
                <key>sourceSize</key>
                <string>{170,98}</string>
            </dict>
            <key>ctm_News_Disco_Ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1409},{84,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,91}}</string>
                <key>sourceSize</key>
                <string>{84,91}</string>
            </dict>
            <key>ctm_News_Disco_Desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1429},{88,67}}</string>
                <key>offset</key>
                <string>{-175,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{88,67}}</string>
                <key>sourceSize</key>
                <string>{480,95}</string>
            </dict>
            <key>ctm_News_Disco_Head_Piece.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1001},{130,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,108}}</string>
                <key>sourceSize</key>
                <string>{130,108}</string>
            </dict>
            <key>ctm_News_Disco_Picture.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1054},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>ctm_News_Halloween_Anchor.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,646},{210,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,180}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>ctm_News_Halloween_Desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,324},{480,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,124}}</string>
                <key>sourceSize</key>
                <string>{480,124}</string>
            </dict>
            <key>ctm_News_Halloween_Picture.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1054},{132,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,85}}</string>
                <key>sourceSize</key>
                <string>{132,85}</string>
            </dict>
            <key>ctm_News_Halloween_ghost.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,954},{99,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,86}}</string>
                <key>sourceSize</key>
                <string>{99,86}</string>
            </dict>
            <key>ctm_News_Hawaii_Anchor_suit.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,917},{163,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,103}}</string>
                <key>sourceSize</key>
                <string>{163,103}</string>
            </dict>
            <key>ctm_News_Hawaii_DeskItems.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,508},{468,123}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{468,123}}</string>
                <key>sourceSize</key>
                <string>{480,123}</string>
            </dict>
            <key>ctm_News_Hawaii_Picture.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1423},{75,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,176}}</string>
                <key>sourceSize</key>
                <string>{75,176}</string>
            </dict>
            <key>ctm_News_Mexico_AnchorSuit.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,925},{160,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,105}}</string>
                <key>sourceSize</key>
                <string>{160,105}</string>
            </dict>
            <key>ctm_News_Mexico_Anchor_Hat_Front.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,828},{181,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,87}}</string>
                <key>sourceSize</key>
                <string>{181,87}</string>
            </dict>
            <key>ctm_News_Mexico_Anchor_Hat_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,901},{116,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,35}}</string>
                <key>sourceSize</key>
                <string>{116,35}</string>
            </dict>
            <key>ctm_News_Mexico_Anchor_Hat_rear.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1032},{153,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,33}}</string>
                <key>sourceSize</key>
                <string>{153,33}</string>
            </dict>
            <key>ctm_News_Mexico_Items.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,633},{467,112}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{467,112}}</string>
                <key>sourceSize</key>
                <string>{479,120}</string>
            </dict>
            <key>ctm_News_Mexico_Picture.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,925},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>ctm_News_Mexico_Wall_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{56,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,153}}</string>
                <key>sourceSize</key>
                <string>{56,153}</string>
            </dict>
            <key>ctm_News_PictureFrame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1296},{96,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{96,125}}</string>
                <key>sourceSize</key>
                <string>{114,149}</string>
            </dict>
            <key>ctm_News_PictureFrame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1282},{96,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{96,125}}</string>
                <key>sourceSize</key>
                <string>{114,149}</string>
            </dict>
            <key>ctm_News_PictureFrame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{96,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{96,125}}</string>
                <key>sourceSize</key>
                <string>{114,149}</string>
            </dict>
            <key>ctm_News_PictureFrame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1169},{96,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{96,125}}</string>
                <key>sourceSize</key>
                <string>{114,149}</string>
            </dict>
            <key>ctm_News_PictureFrame_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1175},{96,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{96,125}}</string>
                <key>sourceSize</key>
                <string>{114,149}</string>
            </dict>
            <key>ctm_News_PictureFrame_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1022},{96,131}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{96,131}}</string>
                <key>sourceSize</key>
                <string>{114,149}</string>
            </dict>
            <key>ctm_News_PictureFrame_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{96,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{96,125}}</string>
                <key>sourceSize</key>
                <string>{114,149}</string>
            </dict>
            <key>ctm_News_PictureFrame_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1238},{96,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{96,125}}</string>
                <key>sourceSize</key>
                <string>{114,149}</string>
            </dict>
            <key>ctm_News_PictureFrame_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1155},{96,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{96,125}}</string>
                <key>sourceSize</key>
                <string>{114,149}</string>
            </dict>
            <key>ctm_News_PictureFrame_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1111},{96,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{96,125}}</string>
                <key>sourceSize</key>
                <string>{114,149}</string>
            </dict>
            <key>ctm_News_PictureFrame_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1042},{96,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{96,125}}</string>
                <key>sourceSize</key>
                <string>{114,149}</string>
            </dict>
            <key>ctm_News_Screen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,771},{262,152}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,50},{262,152}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ctm_News_Screen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,747},{262,152}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,50},{262,152}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ctm_News_Screen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{262,152}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,50},{262,152}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ctm_News_Screen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{262,152}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,50},{262,152}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ctm_News_anchor_Suit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{161,92}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{161,92}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1141},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1141},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1067},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1067},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1596},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1538},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1498},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1440},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1316},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1342},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1244},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1146},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1048},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1218},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1120},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1022},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>ctm_News_anchor_tie_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,603},{57,96}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{57,96}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CNN.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a42b4c289688e659776bab2270c3d91$</string>
            <key>textureFileName</key>
            <string>CNN.png</string>
        </dict>
    </dict>
</plist>
