<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Elvis_RideCycle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,160},{79,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,142}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,160},{79,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,142}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{77,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,81},{77,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,83},{79,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,142}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,83},{79,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,142}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,162},{79,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,142}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,164},{77,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{77,142}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,81},{77,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{77,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{77,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,144}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
            <key>ctm_Elvis_RideCycle-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,83},{79,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,142}}</string>
                <key>sourceSize</key>
                <string>{79,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Elvis_RideCycle.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32a0acdd158d0606cd0490d3bcba8dac$</string>
            <key>textureFileName</key>
            <string>ctm_Elvis_RideCycle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
