<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Elvis_Trick4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,196},{80,143}}</string>
                <key>offset</key>
                <string>{22,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,107},{80,143}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,337},{96,205}}</string>
                <key>offset</key>
                <string>{19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,8},{96,205}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,98},{96,205}}</string>
                <key>offset</key>
                <string>{20,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,7},{96,205}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,98},{96,209}}</string>
                <key>offset</key>
                <string>{20,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,3},{96,209}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{96,213}}</string>
                <key>offset</key>
                <string>{20,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{96,213}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{96,213}}</string>
                <key>offset</key>
                <string>{20,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{96,213}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{96,213}}</string>
                <key>offset</key>
                <string>{19,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{96,213}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{96,213}}</string>
                <key>offset</key>
                <string>{19,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{96,213}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,213}}</string>
                <key>offset</key>
                <string>{19,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{96,213}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{94,213}}</string>
                <key>offset</key>
                <string>{19,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{94,213}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{94,211}}</string>
                <key>offset</key>
                <string>{19,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,2},{94,211}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,232},{90,141}}</string>
                <key>offset</key>
                <string>{36,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,109},{90,141}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,100},{94,209}}</string>
                <key>offset</key>
                <string>{18,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,4},{94,209}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,544},{92,205}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,8},{92,205}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,335},{92,203}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,10},{92,203}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,540},{92,199}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,14},{92,199}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,749},{94,199}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,14},{94,199}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,134},{96,199}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,14},{96,199}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,544},{104,203}}</string>
                <key>offset</key>
                <string>{12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,10},{104,203}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,196},{132,197}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{132,197}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,845},{170,145}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,68},{170,145}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{184,83}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,130},{184,83}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,751},{106,133}}</string>
                <key>offset</key>
                <string>{43,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,117},{106,133}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,516},{168,111}}</string>
                <key>offset</key>
                <string>{15,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,127},{168,111}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,196},{142,137}}</string>
                <key>offset</key>
                <string>{28,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,119},{142,137}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,686},{112,153}}</string>
                <key>offset</key>
                <string>{36,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,110},{112,153}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,841},{88,153}}</string>
                <key>offset</key>
                <string>{35,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,105},{88,153}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,188},{80,147}}</string>
                <key>offset</key>
                <string>{27,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,105},{80,147}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,196},{80,143}}</string>
                <key>offset</key>
                <string>{23,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,107},{80,143}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,278},{132,127}}</string>
                <key>offset</key>
                <string>{34,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,128},{132,127}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,330},{184,117}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,122},{184,117}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,859},{182,153}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{182,153}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{154,183}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,32},{154,183}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{130,187}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,18},{130,187}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Elvis_Trick4-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,335},{94,203}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,10},{94,203}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Elvis_Trick4.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13f312578d69b21761224795e736c10d$</string>
            <key>textureFileName</key>
            <string>ctm_Elvis_Trick4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
