<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{80,102}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{80,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Credits_dn.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,154},{80,102}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{80,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>FeedbackIcon_Options.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,332},{58,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{58,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>FeedbackIcon_Options_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,268},{58,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{58,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>LevelSelect_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,192},{32,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{32,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>MoreGames.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,232},{84,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{84,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>MoreGames_dn.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,190},{84,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{84,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ctm_Back_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,418},{54,52}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Back_Button_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,452},{54,52}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,452},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_17_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,364},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,398},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_18_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,364},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,322},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_19_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,310},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,344},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_20_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,310},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,290},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_21_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,236},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,236},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_22_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,442},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,322},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_25_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,386},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,442},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Button_26_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,264},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_Loading_Store_Btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,266},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,64}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>ctm_Loading_Store_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,200},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,64}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>ctm_NewSlowTime_Glow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{124,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{124,54}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>ctm_NewSlowTime_Glow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{118,52}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{118,52}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>ctm_RightLevel_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,320},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{30,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctm_RightLevel_ButtonGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,134},{42,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctm_RightLevel_Button_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,268},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{30,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctm_Store_Shopping_Btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,58},{120,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>ctm_Store_Shopping_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{120,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>ctm_UI_Button_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,322},{54,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_UI_Button_15_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,386},{54,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_UI_Button_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_UI_Button_7_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_UI_PeanutsGlow_Btn_ver1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{130,100}}</string>
                <key>sourceSize</key>
                <string>{136,104}</string>
            </dict>
            <key>ctm_UI_Peanuts_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{108,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{108,76}}</string>
                <key>sourceSize</key>
                <string>{136,104}</string>
            </dict>
            <key>ctm_UI_Peanuts_Btn_ver1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,98},{108,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{108,76}}</string>
                <key>sourceSize</key>
                <string>{136,104}</string>
            </dict>
            <key>ctm_UI_Peanuts_Btn_ver1_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,56},{108,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{108,76}}</string>
                <key>sourceSize</key>
                <string>{136,104}</string>
            </dict>
            <key>ctm_UI_Play_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,176},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{96,54}}</string>
                <key>sourceSize</key>
                <string>{108,64}</string>
            </dict>
            <key>ctm_UI_Play_Btn_ver1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,134},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{96,54}}</string>
                <key>sourceSize</key>
                <string>{108,64}</string>
            </dict>
            <key>ctm_UI_RoundButtonA_ver1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,154},{36,36}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ctm_shareButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_shareButton_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{54,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Buttons.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20ac8e68b1caafe32707a1aeb02749af$</string>
            <key>textureFileName</key>
            <string>ctm_Buttons.pvr.ccz</string>
        </dict>
    </dict>
</plist>
