<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_scifi_Exhaust_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{30,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ctm_scifi_Exhaust_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ctm_scifi_Exhaust_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{26,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{26,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ctm_scifi_Exhaust_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,32},{30,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{30,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ctm_scifi_Exhaust_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,62},{26,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{26,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ctm_scifi_Exhaust_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{30,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{30,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ctm_scifi_Exhaust_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,34},{28,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{28,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ctm_scifi_Exhaust_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,34},{28,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{28,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ctm_scifi_Exhaust_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{32,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ctm_scifi_Exhaust_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{26,28}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{26,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Scifi_Exhaust.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2f8053a4cb35529f99c0b9b824c2f0b$</string>
            <key>textureFileName</key>
            <string>ctm_Scifi_Exhaust.pvr.ccz</string>
        </dict>
    </dict>
</plist>
