<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Default_Trick5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,434},{78,134}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,47},{78,134}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,156},{184,152}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{184,152}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{184,152}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{184,152}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{184,152}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{184,152}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,460},{184,150}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{184,150}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,460},{184,150}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{184,150}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,310},{184,150}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{184,150}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{184,150}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{184,150}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,310},{184,150}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{184,150}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,308},{184,150}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{184,150}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,308},{184,150}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{184,150}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,612},{76,136}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,45},{76,136}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,156},{184,150}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{184,150}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,156},{184,150}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{184,150}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{184,150}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{184,150}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,158},{184,150}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{184,150}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,154}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{184,154}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{174,156}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{174,156}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{156,144}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{156,144}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,720},{134,140}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,41},{134,140}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{88,154}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,44},{88,154}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,570},{76,148}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,45},{76,148}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,158},{82,138}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,43},{82,138}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,298},{78,134}}</string>
                <key>offset</key>
                <string>{16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,47},{78,134}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{94,144}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,37},{94,144}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{126,150}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,28},{126,150}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,464},{140,138}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,27},{140,138}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,462},{164,162}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{164,162}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,156}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,156}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>ctm_Default_Trick5-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{184,152}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{184,152}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Default_Trick5.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dce46d1af5051b5c18c0ce05849e69d$</string>
            <key>textureFileName</key>
            <string>ctm_Default_Trick5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
