<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Default_Trick1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,502},{79,133}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,56},{79,133}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{181,125}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{181,125}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{175,127}}</string>
                <key>offset</key>
                <string>{5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{175,127}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,117},{169,129}}</string>
                <key>offset</key>
                <string>{10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{169,129}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{163,127}}</string>
                <key>offset</key>
                <string>{14,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{163,127}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,83},{159,123}}</string>
                <key>offset</key>
                <string>{16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{159,123}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,131},{153,125}}</string>
                <key>offset</key>
                <string>{19,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,7},{153,125}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,131},{147,129}}</string>
                <key>offset</key>
                <string>{21,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,3},{147,129}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{143,131}}</string>
                <key>offset</key>
                <string>{23,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,1},{143,131}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,208},{141,133}}</string>
                <key>offset</key>
                <string>{24,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{141,133}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,367},{139,133}}</string>
                <key>offset</key>
                <string>{24,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{139,133}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,482},{81,131}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,58},{81,131}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,258},{139,133}}</string>
                <key>offset</key>
                <string>{24,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{139,133}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,262},{139,131}}</string>
                <key>offset</key>
                <string>{23,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,1},{139,131}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,357},{137,129}}</string>
                <key>offset</key>
                <string>{23,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,3},{137,129}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{137,127}}</string>
                <key>offset</key>
                <string>{22,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,5},{137,127}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,343},{137,123}}</string>
                <key>offset</key>
                <string>{21,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,9},{137,123}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,248},{147,107}}</string>
                <key>offset</key>
                <string>{16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,25},{147,107}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{165,79}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,53},{165,79}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{165,101}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,63},{165,101}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{125,117}}</string>
                <key>offset</key>
                <string>{23,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,62},{125,117}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,488},{99,125}}</string>
                <key>offset</key>
                <string>{26,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,59},{99,125}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{89,125}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,64},{89,125}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,450},{91,127}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,60},{91,127}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,395},{85,131}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,58},{85,131}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,468},{81,131}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,58},{81,131}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,393},{81,133}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,56},{81,133}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,476},{79,133}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,56},{79,133}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,208},{79,133}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,56},{79,133}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,129},{95,117}}</string>
                <key>offset</key>
                <string>{21,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,72},{95,117}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,543},{99,113}}</string>
                <key>offset</key>
                <string>{26,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,76},{99,113}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,343},{105,129}}</string>
                <key>offset</key>
                <string>{35,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,72},{105,129}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,226},{137,139}}</string>
                <key>offset</key>
                <string>{31,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,74},{137,139}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{189,113}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,77},{189,113}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>ctm_Default_Trick1-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,83}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,49},{197,83}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Default_Trick1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4db6ad55b08594c222bd9a6acbdbd2b6$</string>
            <key>textureFileName</key>
            <string>ctm_Default_Trick1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
