<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Barb_Trick6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,642},{85,143}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{85,143}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,175}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{107,175}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{135,163}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{135,163}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,149},{143,141}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,141}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{143,131}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{143,131}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,344},{147,131}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{147,131}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{127,131}}</string>
                <key>offset</key>
                <string>{-11,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,131}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,147},{127,131}}</string>
                <key>offset</key>
                <string>{-11,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,131}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,294},{127,131}}</string>
                <key>offset</key>
                <string>{-11,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,131}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,435},{127,131}}</string>
                <key>offset</key>
                <string>{-11,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,131}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{125,131}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,131}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,809},{85,143}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{85,143}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,852},{125,131}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,131}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{125,131}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,131}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,135},{125,131}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,131}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,280},{125,131}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,131}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,427},{125,131}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,131}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,568},{125,131}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,131}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,719},{125,131}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,131}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,584},{133,133}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,443},{139,133}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{139,133}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,787},{139,129}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{139,129}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,296},{85,145}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{85,145}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,294},{131,139}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{131,139}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{117,149}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{117,149}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,658},{101,149}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{101,149}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,165},{87,145}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{87,145}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{85,145}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{85,145}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,149},{85,145}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{85,145}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{85,145}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{85,145}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,493},{87,147}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{87,147}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,503},{91,149}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{91,149}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{93,151}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{93,151}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{97,153}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{97,153}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{99,157}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{99,157}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>ctm_Barb_Trick6-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{103,161}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{103,161}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Barb_Trick6.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d85d03be333101e076c7271d6954797a$</string>
            <key>textureFileName</key>
            <string>ctm_Barb_Trick6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
