<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Default_Trick3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,416},{78,133}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,10},{78,133}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{136,137}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{136,137}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{138,143}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,121},{138,143}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{138,143}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,142},{138,141}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,141}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{138,141}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,141}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{138,141}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,141}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,261},{138,141}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,141}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,142},{138,141}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,141}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,401},{138,139}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{138,139}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,520},{80,135}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,8},{80,135}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,282},{138,139}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{138,139}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,272},{138,139}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{138,139}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,132},{138,141}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,141}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{138,141}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,141}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,142},{136,141}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{136,141}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,280},{134,141}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{134,141}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,145},{130,141}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{130,141}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{128,141}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{128,141}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{128,143}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{128,143}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,288},{126,141}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{126,141}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,657},{94,133}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,10},{94,133}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,282},{122,137}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{122,137}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,406},{116,137}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,6},{116,137}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,541},{114,135}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,8},{114,135}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,412},{106,137}}</string>
                <key>offset</key>
                <string>{26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,6},{106,137}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{86,135}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,8},{86,135}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{78,133}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,10},{78,133}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,549},{108,133}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{108,133}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,431},{120,131}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{120,131}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,422},{136,125}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{136,125}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{144,117}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{144,117}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{144,107}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{144,107}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>ctm_Default_Trick3-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,97}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,46},{168,97}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Default_Trick3.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:352c7e50a3057252c05b20834cce1092$</string>
            <key>textureFileName</key>
            <string>ctm_Default_Trick3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
