<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Default_Trick9-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,363},{77,135}}</string>
                <key>offset</key>
                <string>{20,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,74},{77,135}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,135},{81,145}}</string>
                <key>offset</key>
                <string>{24,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,64},{81,145}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{69,155}}</string>
                <key>offset</key>
                <string>{21,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,54},{69,155}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{81,167}}</string>
                <key>offset</key>
                <string>{14,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,37},{81,167}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{109,179}}</string>
                <key>offset</key>
                <string>{16,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,30},{109,179}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,139},{141,139}}</string>
                <key>offset</key>
                <string>{13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,61},{141,139}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{131,165}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{131,165}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,392},{125,131}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,48},{125,131}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{127,105}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,59},{127,105}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,119},{145,101}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,65},{145,101}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{147,115}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,61},{147,115}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,280},{81,135}}</string>
                <key>offset</key>
                <string>{22,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,74},{81,135}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,196},{123,141}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,50},{123,141}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,509},{101,125}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,39},{101,125}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{127,131}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{127,131}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{135,145}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{135,145}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,113},{157,131}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{157,131}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,95}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{181,95}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{179,87}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,67},{179,87}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,85},{161,109}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,67},{161,109}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,222},{137,127}}</string>
                <key>offset</key>
                <string>{22,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,66},{137,127}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,402},{117,129}}</string>
                <key>offset</key>
                <string>{30,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,66},{117,129}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,442},{81,133}}</string>
                <key>offset</key>
                <string>{26,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,76},{81,133}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,246},{97,141}}</string>
                <key>offset</key>
                <string>{36,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,68},{97,141}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{91,141}}</string>
                <key>offset</key>
                <string>{34,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,68},{91,141}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,218},{87,139}}</string>
                <key>offset</key>
                <string>{31,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,70},{87,139}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,351},{83,137}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,72},{83,137}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,222},{81,135}}</string>
                <key>offset</key>
                <string>{24,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,74},{81,135}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,345},{79,133}}</string>
                <key>offset</key>
                <string>{22,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,76},{79,133}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,321},{79,133}}</string>
                <key>offset</key>
                <string>{21,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,76},{79,133}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,359},{83,129}}</string>
                <key>offset</key>
                <string>{29,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,80},{83,129}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{83,123}}</string>
                <key>offset</key>
                <string>{31,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{83,123}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,490},{81,117}}</string>
                <key>offset</key>
                <string>{31,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,92},{81,117}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,436},{81,121}}</string>
                <key>offset</key>
                <string>{31,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,88},{81,121}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,426},{81,129}}</string>
                <key>offset</key>
                <string>{30,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,80},{81,129}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>ctm_Default_Trick9-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,307},{83,137}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,72},{83,137}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Default_Trick9.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39d07e4f6b010f29bb34e3e23908be71$</string>
            <key>textureFileName</key>
            <string>ctm_Default_Trick9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
