<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_BikeBackSuspension_Default.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,402},{46,34}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,21},{46,34}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBackSuspension_Default_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,493},{50,40}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,18},{50,40}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBackSuspension_DirtBike.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,401},{42,36}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,18},{42,36}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBackSuspension_DirtBike_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,316},{54,46}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,14},{54,46}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBackSuspension_Electric.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,102},{68,20}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{68,20}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBackSuspension_Electric_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,208},{86,38}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{86,38}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBackSuspension_Island.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,264},{64,36}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,13},{64,36}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBackSuspension_Island_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,274},{72,44}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,9},{72,44}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBackSuspension_McAcme.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,254},{54,30}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,17},{54,30}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBackSuspension_McAcme_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,248},{66,42}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,11},{66,42}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBackSuspension_Pizza.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,268},{56,38}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,10},{56,38}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBackSuspension_Pizza_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,208},{68,50}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,4},{68,50}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBackSuspension_Police.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,230},{110,36}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{110,36}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBackSuspension_Police_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,182},{120,46}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{120,46}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBackSuspension_SciFi.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,359},{40,42}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,19},{40,42}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBackSuspension_SciFi_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,292},{56,58}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,11},{56,58}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>ctm_BikeBody_Default.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,98},{152,82}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{152,82}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeBody_Default_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{158,88}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{158,88}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeBody_DirtBike.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,190},{160,82}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{160,82}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeBody_DirtBike_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{166,94}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{166,94}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeBody_Electric.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,182},{122,72}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{122,72}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeBody_Electric_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,188},{140,90}}</string>
                <key>offset</key>
                <string>{-17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{140,90}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeBody_Island.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,100},{154,86}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{154,86}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeBody_Island_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,86},{162,94}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{162,94}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeBody_McAcme.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{170,82}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{170,82}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeBody_McAcme_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,96}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{182,96}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeBody_Pizza.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,102},{162,86}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{162,86}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeBody_Pizza_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{174,98}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{174,98}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeBody_Police.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,108},{146,98}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{146,98}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeBody_Police_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{156,104}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{156,104}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeBody_SciFi.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{154,96}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{154,96}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeBody_SciFi_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{172,114}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{172,114}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ctm_BikeExhaust_Default.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,274},{48,14}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,65},{48,14}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeExhaust_Default_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,172},{54,20}}</string>
                <key>offset</key>
                <string>{-18,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,61},{54,20}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeExhaust_DirtBike.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,324},{34,14}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,65},{34,14}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeExhaust_DirtBike_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,320},{46,26}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,59},{46,26}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeExhaust_Electric.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,216},{46,12}}</string>
                <key>offset</key>
                <string>{-25,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,65},{46,12}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeExhaust_Electric_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,188},{64,30}}</string>
                <key>offset</key>
                <string>{-24,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{64,30}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeExhaust_Island.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,260},{34,14}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,60},{34,14}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeExhaust_Island_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,228},{42,22}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,56},{42,22}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeExhaust_McAcme.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,264},{52,14}}</string>
                <key>offset</key>
                <string>{-23,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,53},{52,14}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeExhaust_McAcme_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,260},{64,26}}</string>
                <key>offset</key>
                <string>{-23,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,47},{64,26}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeExhaust_Pizza.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,320},{58,70}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,15},{58,70}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeExhaust_Pizza_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,182},{70,80}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,10},{70,80}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeExhaust_Police.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,274},{48,88}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{48,88}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeExhaust_Police_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,256},{58,98}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{58,98}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeExhaust_SciFi.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,256},{28,18}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,49},{28,18}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeExhaust_SciFi_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,372},{46,36}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,39},{46,36}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_Default.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,318},{24,34}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{24,34}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_Default_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,328},{30,40}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{30,40}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_DirtBike.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,368},{26,36}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{26,36}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_DirtBike_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,517},{38,48}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{38,48}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_Electric.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,248},{16,24}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{16,24}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_Electric_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,439},{34,42}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{34,42}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_Island.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,272},{22,34}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{22,34}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_Island_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,360},{30,40}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{30,40}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_McAcme.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,308},{16,26}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{16,26}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_McAcme_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,280},{28,38}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{28,38}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_Pizza.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,170},{18,36}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{18,36}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_Pizza_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,310},{30,48}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{30,48}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_Police.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,264},{10,18}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{10,18}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_Police_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,140},{20,28}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{20,28}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_SciFi.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,98},{40,20}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,28},{40,20}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontSuspension_SciFi_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,288},{56,38}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{56,38}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>ctm_BikeFrontWheel_Default.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,337},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeFrontWheel_Default_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,280},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeFrontWheel_DirtBike.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,450},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeFrontWheel_DirtBike_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,280},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeFrontWheel_Electric.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,447},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeFrontWheel_Electric_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,439},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeFrontWheel_Island.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,447},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeFrontWheel_Island_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,422},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeFrontWheel_McAcme.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,438},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeFrontWheel_McAcme_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,410},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeFrontWheel_Pizza.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,475},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeFrontWheel_Pizza_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,373},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeFrontWheel_Police.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,462},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeFrontWheel_Police_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,416},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeFrontWheel_SciFi.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,438},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeFrontWheel_SciFi_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,382},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_Default.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,337},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_Default_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,365},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_DirtBike.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,383},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_DirtBike_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,316},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_Electric.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,392},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_Electric_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,359},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_Island.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,392},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_Island_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,325},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_McAcme.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,328},{55,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_McAcme_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,308},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_Pizza.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,473},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_Pizza_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,350},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_Police.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,407},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_Police_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,302},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_SciFi.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,383},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ctm_BikeRearWheel_SciFi_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,268},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Rider-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1aa6a88d306bd37d757bfdaebb07030$</string>
            <key>textureFileName</key>
            <string>ctm_Rider-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
