<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Elvis_Trick2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{79,142}}</string>
                <key>offset</key>
                <string>{-27,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{79,142}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{117,130}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{117,130}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{119,130}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{119,130}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,134},{119,130}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{119,130}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{119,130}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{119,130}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,286},{119,130}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{119,130}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,266},{117,130}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{117,130}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,432},{119,130}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{119,130}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,418},{117,130}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{117,130}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,564},{117,130}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{117,130}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,842},{115,130}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{115,130}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,144},{81,140}}</string>
                <key>offset</key>
                <string>{-24,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{81,140}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{113,130}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,550},{113,130}}</string>
                <key>offset</key>
                <string>{10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,550},{105,124}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{105,124}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,398},{91,120}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{91,120}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,810},{87,114}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{87,114}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,264},{89,118}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,35},{89,118}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,134},{89,128}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,48},{89,128}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{81,140}}</string>
                <key>offset</key>
                <string>{-23,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,45},{81,140}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,142}}</string>
                <key>offset</key>
                <string>{-27,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{79,142}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{83,138}}</string>
                <key>offset</key>
                <string>{-20,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,46},{83,138}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{85,140}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,46},{85,140}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{87,136}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,43},{87,136}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{89,114}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{89,114}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,134},{97,114}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{97,114}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,682},{103,126}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{103,126}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>ctm_Elvis_Trick2-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,696},{113,130}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Elvis_Trick2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd1705ac7db90ca198475c0adede21ed$</string>
            <key>textureFileName</key>
            <string>ctm_Elvis_Trick2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
