<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Cop_Trick7-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,485},{78,135}}</string>
                <key>offset</key>
                <string>{-37,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,39},{78,135}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,157}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{178,157}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,648},{168,167}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{168,167}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,807},{164,167}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,7},{164,167}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,486},{160,169}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,5},{160,169}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,647},{158,169}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{158,169}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,595},{158,169}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,5},{158,169}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,487},{158,169}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{158,169}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,325},{158,171}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,3},{158,171}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{158,171}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,3},{158,171}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,326},{158,171}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,3},{158,171}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,915},{80,137}}</string>
                <key>offset</key>
                <string>{-30,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,37},{80,137}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,461},{156,171}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,3},{156,171}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,165},{158,173}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,1},{158,173}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,162},{158,173}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,1},{158,173}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{156,175}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{156,175}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{158,175}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{158,175}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{162,175}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{162,175}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,160},{164,173}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,1},{164,173}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,149},{166,173}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,1},{166,173}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,317},{168,171}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{168,171}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{176,161}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{176,161}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,619},{86,137}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,37},{86,137}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{174,145}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,29},{174,145}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,766},{158,149}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{158,149}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{132,149}}</string>
                <key>offset</key>
                <string>{-32,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{132,149}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,917},{104,147}}</string>
                <key>offset</key>
                <string>{-29,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,27},{104,147}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,758},{84,155}}</string>
                <key>offset</key>
                <string>{-29,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{84,155}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,917},{80,143}}</string>
                <key>offset</key>
                <string>{-35,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,37},{80,143}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{78,135}}</string>
                <key>offset</key>
                <string>{-37,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,39},{78,135}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{78,135}}</string>
                <key>offset</key>
                <string>{-37,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,39},{78,135}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{78,135}}</string>
                <key>offset</key>
                <string>{-37,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,39},{78,135}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-39.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,817},{78,135}}</string>
                <key>offset</key>
                <string>{-37,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,39},{78,135}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,917},{94,139}}</string>
                <key>offset</key>
                <string>{-16,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,35},{94,139}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,917},{100,139}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,35},{100,139}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,300},{106,141}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,35},{106,141}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,153},{132,145}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{132,145}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,443},{150,137}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,37},{150,137}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>ctm_Cop_Trick7-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,322},{172,137}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{172,137}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Cop_Trick7.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:931848318f16afb1cf891cd9d234ca06$</string>
            <key>textureFileName</key>
            <string>ctm_Cop_Trick7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
