<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Blue_TopFire_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,135},{48,43}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Blue_TopFire_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{66,45}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{66,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Blue_TopFire_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{60,41}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Blue_TopFire_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,135},{54,41}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,1},{54,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Blue_TopFire_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,92},{58,41}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Blue_TopFire_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,92},{58,41}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Blue_TopFire_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,223},{42,37}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,3},{42,37}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Blue_TopFire_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,262},{44,37}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,3},{44,37}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Blue_TopFire_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,182},{46,39}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,4},{46,39}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Blue_TopFire_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,181},{46,45}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Blue_TopFire_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,221},{44,39}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,3},{44,39}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Default_TopFire_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,178},{48,43}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Default_TopFire_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{66,45}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{66,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Default_TopFire_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,45},{60,41}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Default_TopFire_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{54,41}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,1},{54,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Default_TopFire_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,92},{58,41}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Default_TopFire_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{58,41}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Default_TopFire_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,221},{42,37}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,3},{42,37}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Default_TopFire_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,223},{44,37}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,3},{44,37}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Default_TopFire_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,180},{46,39}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,4},{46,39}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Default_TopFire_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,174},{46,45}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Default_TopFire_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,221},{44,39}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,3},{44,39}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Green_TopFire_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,135},{48,43}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Green_TopFire_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{66,45}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{66,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Green_TopFire_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,45},{60,41}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Green_TopFire_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,131},{54,41}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,1},{54,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Green_TopFire_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,88},{58,41}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Green_TopFire_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,88},{58,41}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Green_TopFire_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{42,37}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,3},{42,37}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Green_TopFire_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,223},{44,37}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,3},{44,37}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Green_TopFire_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,180},{46,39}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,4},{46,39}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Green_TopFire_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,174},{46,45}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Green_TopFire_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,84},{44,39}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,3},{44,39}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Purple_TopFire_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,173},{48,43}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Purple_TopFire_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,45}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{66,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Purple_TopFire_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{60,41}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Purple_TopFire_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,131},{54,41}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,1},{54,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Purple_TopFire_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,49},{58,41}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Purple_TopFire_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,49},{58,41}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Purple_TopFire_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,174},{42,37}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,3},{42,37}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Purple_TopFire_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,135},{44,37}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,3},{44,37}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Purple_TopFire_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,218},{46,39}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,4},{46,39}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Purple_TopFire_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,135},{46,45}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Purple_TopFire_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,43},{44,39}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,3},{44,39}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>ctm_TopFire_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,136},{48,43}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>ctm_TopFire_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,45}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{66,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>ctm_TopFire_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{60,41}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>ctm_TopFire_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,92},{54,41}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,1},{54,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>ctm_TopFire_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,49},{58,41}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>ctm_TopFire_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,49},{58,41}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>ctm_TopFire_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{42,37}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,3},{42,37}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>ctm_TopFire_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{44,37}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,3},{44,37}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>ctm_TopFire_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,88},{46,39}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,4},{46,39}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>ctm_TopFire_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,125},{46,45}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>ctm_TopFire_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{44,39}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,3},{44,39}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_TopFire.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23fabc908bb2475eb66a882e0a4cbec0$</string>
            <key>textureFileName</key>
            <string>ctm_TopFire.pvr.ccz</string>
        </dict>
    </dict>
</plist>
