<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Barb_Trick4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,507},{86,145}}</string>
                <key>offset</key>
                <string>{19,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,104},{86,145}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,90},{88,203}}</string>
                <key>offset</key>
                <string>{21,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,9},{88,203}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{88,205}}</string>
                <key>offset</key>
                <string>{22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,7},{88,205}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,88},{84,209}}</string>
                <key>offset</key>
                <string>{24,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,3},{84,209}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{84,213}}</string>
                <key>offset</key>
                <string>{25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{84,213}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{84,211}}</string>
                <key>offset</key>
                <string>{25,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,0},{84,211}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{84,213}}</string>
                <key>offset</key>
                <string>{24,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{84,213}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{84,213}}</string>
                <key>offset</key>
                <string>{23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{84,213}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,213}}</string>
                <key>offset</key>
                <string>{23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{84,213}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{84,211}}</string>
                <key>offset</key>
                <string>{22,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,1},{84,211}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{84,209}}</string>
                <key>offset</key>
                <string>{22,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,3},{84,209}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,539},{90,141}}</string>
                <key>offset</key>
                <string>{35,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,108},{90,141}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,88},{84,207}}</string>
                <key>offset</key>
                <string>{21,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,5},{84,207}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{86,205}}</string>
                <key>offset</key>
                <string>{20,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,7},{86,205}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,180},{90,201}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,11},{90,201}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,196},{94,199}}</string>
                <key>offset</key>
                <string>{16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,13},{94,199}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,262},{94,199}}</string>
                <key>offset</key>
                <string>{15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,13},{94,199}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,174},{96,199}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,13},{96,199}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,88},{106,203}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,9},{106,203}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,272},{134,195}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,17},{134,195}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,445},{172,143}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,69},{172,143}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,358},{184,85}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,127},{184,85}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,404},{104,133}}</string>
                <key>offset</key>
                <string>{43,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,116},{104,133}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,654},{166,115}}</string>
                <key>offset</key>
                <string>{15,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,123},{166,115}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,404},{140,141}}</string>
                <key>offset</key>
                <string>{29,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,115},{140,141}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,822},{108,155}}</string>
                <key>offset</key>
                <string>{37,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,108},{108,155}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,590},{90,155}}</string>
                <key>offset</key>
                <string>{34,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,103},{90,155}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,209},{86,149}}</string>
                <key>offset</key>
                <string>{24,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,103},{86,149}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,360},{86,145}}</string>
                <key>offset</key>
                <string>{19,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,104},{86,145}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,433},{130,129}}</string>
                <key>offset</key>
                <string>{35,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,126},{130,129}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,408},{182,119}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,122},{182,119}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,292},{182,139}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,61},{182,139}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{156,175}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,32},{156,175}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,272},{130,183}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,18},{130,183}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
            <key>ctm_Barb_Trick4-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,174},{86,201}}</string>
                <key>offset</key>
                <string>{20,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,11},{86,201}}</string>
                <key>sourceSize</key>
                <string>{200,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Barb_Trick4.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5755f77d671be1ebe7f049fb0584ed6$</string>
            <key>textureFileName</key>
            <string>ctm_Barb_Trick4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
