<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Cop_Trick1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{78,134}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,54},{78,134}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{180,126}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{180,126}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{174,128}}</string>
                <key>offset</key>
                <string>{5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{174,128}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,116},{168,130}}</string>
                <key>offset</key>
                <string>{10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{168,130}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{162,128}}</string>
                <key>offset</key>
                <string>{14,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{162,128}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{158,124}}</string>
                <key>offset</key>
                <string>{16,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,8},{158,124}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,84},{152,126}}</string>
                <key>offset</key>
                <string>{19,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,6},{152,126}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,132},{146,130}}</string>
                <key>offset</key>
                <string>{21,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{146,130}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,248},{142,132}}</string>
                <key>offset</key>
                <string>{23,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{142,132}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,132},{142,132}}</string>
                <key>offset</key>
                <string>{23,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{142,132}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,264},{140,132}}</string>
                <key>offset</key>
                <string>{23,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{140,132}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,462},{82,132}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,56},{82,132}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{140,138}}</string>
                <key>offset</key>
                <string>{23,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{140,138}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,272},{138,132}}</string>
                <key>offset</key>
                <string>{23,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{138,132}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,398},{138,130}}</string>
                <key>offset</key>
                <string>{22,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,2},{138,130}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,406},{136,128}}</string>
                <key>offset</key>
                <string>{22,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,4},{136,128}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,266},{136,122}}</string>
                <key>offset</key>
                <string>{21,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,10},{136,122}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,162},{146,108}}</string>
                <key>offset</key>
                <string>{16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,24},{146,108}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{164,80}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,52},{164,80}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{166,102}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,61},{166,102}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,546},{122,118}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,60},{122,118}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,474},{98,126}}</string>
                <key>offset</key>
                <string>{26,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,57},{98,126}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,436},{88,126}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,62},{88,126}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,436},{90,128}}</string>
                <key>offset</key>
                <string>{18,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,58},{90,128}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,350},{84,132}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,56},{84,132}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,390},{82,132}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,56},{82,132}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,348},{80,134}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,54},{80,134}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,212},{80,134}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,54},{80,134}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,382},{78,134}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,54},{78,134}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{96,116}}</string>
                <key>offset</key>
                <string>{23,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,72},{96,116}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,528},{100,114}}</string>
                <key>offset</key>
                <string>{27,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,74},{100,114}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{104,130}}</string>
                <key>offset</key>
                <string>{35,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,71},{104,130}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,212},{136,140}}</string>
                <key>offset</key>
                <string>{31,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,72},{136,140}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{188,112}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,77},{188,112}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>ctm_Cop_Trick1-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,84}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{198,84}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Cop_Trick1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1eaa0cabe69c46869330e105ebf1423$</string>
            <key>textureFileName</key>
            <string>ctm_Cop_Trick1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
