<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Default_Trick6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,272},{77,133}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{77,133}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,167}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{85,167}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{113,155}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{113,155}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{121,133}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{121,133}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,131},{121,121}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,407},{125,121}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{125,121}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,912},{107,121}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{107,121}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{107,121}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{107,121}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,254},{105,121}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{105,121}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,393},{105,121}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{105,121}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,534},{105,121}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{105,121}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,602},{75,135}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{75,135}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,657},{105,121}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{105,121}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,534},{105,121}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{105,121}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{105,121}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{105,121}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,780},{103,121}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{103,121}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,903},{103,121}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{103,121}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,657},{103,121}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{103,121}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,780},{103,121}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{103,121}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,268},{111,123}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{111,123}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{127,121}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{127,121}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,328},{135,117}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{135,117}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,157},{73,135}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{73,135}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,137},{123,129}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{123,129}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,771},{103,139}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{103,139}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,626},{87,139}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{87,139}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,465},{77,135}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{77,135}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,137},{77,133}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{77,133}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,874},{77,133}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{77,133}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,739},{77,133}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{77,133}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,479},{73,137}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{73,137}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{75,141}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{75,141}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{77,143}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{77,143}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{85,145}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{85,145}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{91,149}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{91,149}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>ctm_Default_Trick6-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{87,153}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{87,153}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_Default_Trick6.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19f07b3cbaaa5a035174ca29b64be3d9$</string>
            <key>textureFileName</key>
            <string>ctm_Default_Trick6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
