<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Tut_Bronze_Medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,764},{180,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,228}}</string>
                <key>sourceSize</key>
                <string>{180,228}</string>
            </dict>
            <key>ctm_Tut_Gold_Medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,764},{180,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,228}}</string>
                <key>sourceSize</key>
                <string>{180,228}</string>
            </dict>
            <key>ctm_Tut_Rays.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,534}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,534}}</string>
                <key>sourceSize</key>
                <string>{622,536}</string>
            </dict>
            <key>ctm_Tut_Silver_Medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,650},{180,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,228}}</string>
                <key>sourceSize</key>
                <string>{180,228}</string>
            </dict>
            <key>ctm_Tut_silverStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>ctm_Tut_yellowStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>ctm_UI_winscreen_Char_BGPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,392},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_UI_winscreen_MonkeyLoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,538},{218,224}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{218,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_UI_winscreen_MonkeyWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{200,216}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{200,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_UI_winscreen_lose_Chump.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,392},{230,122}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,0},{230,122}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ctm_UI_winscreen_lose_OMG!.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{216,120}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,0},{216,120}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ctm_UI_winscreen_lose_OUCH!.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,624},{226,122}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,0},{226,122}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ctm_UI_winscreen_win_Chimptastic.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,132},{354,128}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{354,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ctm_UI_winscreen_win_Darwinning.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,262},{348,128}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{348,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ctm_UI_winscreen_win_Unpossible.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{364,128}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{364,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ctm_WinScreen.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69f6a8ac8e151c5c547d6d08e681bd1f$</string>
            <key>textureFileName</key>
            <string>ctm_WinScreen.pvr.ccz</string>
        </dict>
    </dict>
</plist>
