<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctmElvis_BottomCalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,106},{16,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{16,40}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmElvis_BottomFoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,122},{46,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{46,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmElvis_BottomHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{22,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ctmElvis_BottomLoarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,30},{26,52}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{26,52}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmElvis_BottomThigh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{18,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{18,50}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmElvis_BottomUparm.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,100},{20,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{20,48}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmElvis_Chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,58},{40,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{40,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmElvis_Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{67,60}}</string>
                <key>sourceSize</key>
                <string>{75,64}</string>
            </dict>
            <key>ctmElvis_Neck.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{24,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ctmElvis_Pelvis.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,172},{28,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{28,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmElvis_TopCalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{14,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{14,40}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmElvis_TopFoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{46,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{46,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ctmElvis_TopHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,150},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{20,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ctmElvis_TopLoarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{26,52}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{26,52}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmElvis_TopThigh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{18,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{18,50}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmElvis_TopUparm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{20,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{20,48}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>ctmElvis_Torso.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,146},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{30,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CTMElvis-hd.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faad8350017a0ccfd0548a45ce8e3446$</string>
            <key>textureFileName</key>
            <string>CTMElvis-hd.png</string>
        </dict>
    </dict>
</plist>
