<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CityIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{98,98}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>CityIcon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{98,98}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>IslandIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{98,98}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>IslandIcon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{98,98}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>NightIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{98,98}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>NightIcon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{98,98}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>SpaceIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{98,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{98,98}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>SpaceIcon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,114}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{98,114}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>TutorialIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{98,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{98,98}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>TutorialIcon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{98,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{98,98}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelSelectIcon.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45a810ddc9b1a8578659979b6ce31ecd$</string>
            <key>textureFileName</key>
            <string>LevelSelectIcon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
