<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Advertisments_Intro.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,222},{418,58}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,6},{418,58}}</string>
                <key>sourceSize</key>
                <string>{480,64}</string>
            </dict>
            <key>McAcme_3$_Easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,556},{260,84}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,21},{260,84}}</string>
                <key>sourceSize</key>
                <string>{480,128}</string>
            </dict>
            <key>McAcme_3$_Flare.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,218}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{480,218}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>McAcme_3$_Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,324},{82,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{82,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>McAcme_3$_Price.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,222},{332,110}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,10},{332,110}}</string>
                <key>sourceSize</key>
                <string>{480,128}</string>
            </dict>
            <key>McAcme_CALLNOW_Call.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{236,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{236,88}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>McAcme_CALLNOW_Flare.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,282},{380,150}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,65},{380,150}}</string>
                <key>sourceSize</key>
                <string>{480,256}</string>
            </dict>
            <key>McAcme_CALLNOW_Operators.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{294,98}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,18},{294,98}}</string>
                <key>sourceSize</key>
                <string>{480,128}</string>
            </dict>
            <key>McAcme_Intro_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>McAcme_Intro_Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{134,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,12},{134,104}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>McAcme_Intro_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{324,94}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,23},{324,94}}</string>
                <key>sourceSize</key>
                <string>{480,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>McAcmeXtra.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d1030bad3257cca64a971e9281595a3$</string>
            <key>textureFileName</key>
            <string>McAcmeXtra.pvr.ccz</string>
        </dict>
    </dict>
</plist>
